.quote {
  background-color: #f06c64;
  padding-top: 59px;
}

.quote h2 {
  font-family: "Lato Black", sans-serif;
  margin: 0;
  letter-spacing: -0.3px;
  margin-bottom: 19px;
}

.quote p {
  line-height: 30px;
  font-family: "Lato Light", sans-serif;
  letter-spacing: -0.1px;
  word-spacing: 0.3px;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
  margin-top: 43.5px;
}

.form {
  min-width: 619px;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;
  height: 36.5px;
  font-family: "Lato Regular", sans-serif;
  line-height: 21.56px;
  font-size: 12px;
  padding: 1px 0 1px 15px;
}

input[type="email"] {
  height: 35.5px;
}

textarea {
  height: 193px;
  padding-top: 8px;
  padding-left: 14px;
  resize: none;
}