.portfolio {
  padding-top: 34px;
  padding-bottom: 49px;

  color: #666d89;

  background-color: #2d303a;
  border-bottom: 5.5px solid #323746;
}

.portfolio h2 {
  margin-bottom: 0;

  font-family: "Lato Black", sans-serif;
  letter-spacing: 0.2px;
}

.portfolio p {
  margin-top: 20px;
  margin-bottom: 0;

  line-height: 30px;
  font-family: "Lato Light", sans-serif;
  letter-spacing: -0.2px;
}

.portfolio__navigation {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 19px;
  padding: 0;

  list-style-type: none;
  font-size: 1.2rem;
}

.portfolio_item {
  display: inline-block;
  margin-right: 9px;
  padding: 0 7px;

  line-height: 21.56px;
  color: #666d89;
  text-decoration: none;

  border: 1px solid #666d89;
  border-radius: 5px;
}

.portfolio_item:hover {
  color: #ffffff;

  border: 1px solid #ffffff;
}

.portfolio_item:active {
  color: #000000;

  border: 1px solid #000000;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 619px;
  overflow: hidden;
}

.portfolio__image {
  margin-bottom: 15.5px;
}


.about-us {
  padding-top: 35px;
  padding-bottom: 66px;

  color: #666d89;

  background-color: #f2f2f2;
  border-bottom: 5px solid #ffffff;
}

.about-us h2 {
  margin-bottom: 0;

  font-family: "Lato Black", sans-serif;
  letter-spacing: 0.2px;
  word-spacing: -2.3px;
}

.about-us p {
  margin-bottom: 45px;

  line-height: 30px;
  font-family: "Lato Light", sans-serif;
  letter-spacing: -0.2px;
  word-spacing: 1.1px;
}

.about-us_fix {
  letter-spacing: 0.2px;
  word-spacing: -2.8px;
}

.workers {
  max-width: 300px;
}

.workers2 {
  margin-left: -1px;
}

.name {
  max-height: 22px;
  margin-top: 12px;
  overflow: hidden;

  font-family: "Lato Black", sans-serif;
  word-spacing: 0.8px;
}

.workers p {
  margin-top: 8px;
  margin-bottom: 23px;

  font-size: 1.2rem;
  line-height: 21.56px;
  font-family: "Lato Regular", sans-serif;
  letter-spacing: -0.15px;
  word-spacing: 0;
}

.about_ico {
  display: flex;
}

.socials__ico {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  margin-right: 7px;
  padding-left: 1px;

  border: 1px solid #767e9e;
  border-radius: 50%;
}

.socials__ico:hover {
  background-color: #d5d3d3;
}